html,body{
    height:100%
}

body{
    background-image: linear-gradient(white, #CFF7F0)
}
div.container {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

div.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    vertical-align: center; 
    text-align: center;
    letter-spacing: 10px;
    padding-bottom: 12px;
    padding-top: 5px;
}

div.title {
    font-family: Lobster;
    font-size: 3.6em;
    font-weight:bold;
    vertical-align: center;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    padding: 1%;
    align-items: center;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

@media only screen and (min-width: 375px) and (max-width: 670px) and (orientation: portrait) { 
    div.title {
        font-family: Lobster;
        font-size: 10vw;
        font-weight:bold;
        vertical-align: center;
        text-align: center;
    }
    div.subtitle {
        font-family: 'Raleway', sans-serif;
        font-size: 3vw;
        vertical-align: center; 
        text-align: center;
        letter-spacing: 10px;
        padding-bottom: 12px;
    }
    img {
        width: 15%;
        height: 15%;
        padding: 1%;
        align-items: center;
    }
}
